# Criação de Portfólio - Thai House
Casa de eventos do grupo koh Pee Pee
   * Organização e limpeza dos dados
   * Dados a partir de abril de 2022

##### Import

In [109]:
from datetime import date as dt
import re
import numpy as np
import pandas as pd

##### Funções

In [110]:
col_padrao = {
    'Convidados': 'num_convidados',
    'Convidados Efetivos': 'qtde_conv_final',
    'Forma de pagamento': 'forma_pag'
 }


# Tratando colunas
def colunas_lower_replace(x):
    '''
    Remomeia colunas e troca espaço por underline.
    '''
    x.rename(columns=col_padrao, inplace=True)
    x.columns = x.columns.str.lower().str.replace(' ', '_')
    return


# Tratando espaços em branco
def whitespace_remover(dataframe):
    '''
    Retira estaços em branco do dataframe.
    '''
    # iterating over the columns
    for i in dataframe:
        # checking datatype of each columns
        if dataframe[i].dtypes == 'object':

            # applying strip function on column
            dataframe[i] = dataframe[i].str.strip()
        else:
            # if condn. is False then it will do nothing.
            pass

### Load

In [111]:
caminho = r'./dados/rel_eventos.xlsx'
caminho2 = r'./dados/antes_abril_2022.xlsx'
caminho3 = r'./dados/rel_eventos_2023.xlsx'

# retorna um dict
dicio22 = pd.read_excel(
    caminho, ["abril", "maio", "junho", "julho", "agosto", "setembro",
              "outubro", "novembro", "dezembro"],
    index_col=None, na_values=["NA"]
    )

dicio23 = pd.read_excel(caminho3,
                        ['Jan', 'Fev', 'Mar', 'Abr',
                         'Mai', 'Jun', 'Jul', 'Ago',
                         'Set', 'Out', 'Nov', 'Dez'],
                        index_col=None, na_values=['NA'])

df_ant_abr22 = pd.read_excel(caminho2)

In [112]:
type(dicio22)

dict

In [113]:
# pegar a sheet do dict e transformar em Dataframe
dicio22.get('abril').head(3)

,Data contato,Etapa,Situação,Data Evento,Tipo,Convidados,Cardápio,Preço,Sinal,Valor total,Saldo restante,Valor Extra,Forma de pagamento,Observação
0,EVENTOS FECHADOS,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-04-01 00:00:00,Realizado,Realizado,2022-04-11,NaN,40.0,NaN,220.0,1200.0,9787.0,8587.0,987.0,NaN,"Fez uma pré-reserva, quer serviço desde a entr..."
2,2022-04-09 00:00:00,Realizado,Realizado,2022-04-28,NaN,30.0,NaN,230.0,NaN,6900.0,6900.0,NaN,NaN,"Aula ao vivo, vai precisar de aparelhos de aúd..."

In [114]:
dicio23.get('Jan').head(3)

,Data contato,Etapa,Situação,Data Evento,Tipo,Empresa,Contato,Telefone,Email,Convidados,...,Kids,Preço Kids,Total Convidados,Sinal,Valor total,Saldo restante,Valor Extra,Convidados Efetivos,Forma de pagamento,Observação
0,EVENTOS FECHADOS,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-10-17 00:00:00,Realizado,Realizado,2023-01-28,Jantar Formatura,Lisandra Lain Schneider,Lisandra Lain Schneider,51-99983.5577,NaN,53.0,...,NaN,NaN,NaN,NaN,18025.0,18025.0,1330.0,NaN,Entrada de 30% pago em Pix em 24/10/22 e dia 2...,Festa de formatura do Luca \n
2,2023-12-20 00:00:00,Realizado,Realizado,2023-01-25,Jantar divulgação,Evento divulgação Thai House,Audrey,51-98137.3968,NaN,30.0,...,NaN,NaN,30.0,NaN,3350.0,3350.0,800.0,NaN,Custo casa,Jantar para um grupo de relações públicas e ce...

In [115]:
df_ant_abr22.head()

,data_evento,etapa,data_contato,tipo,valor_total,num_convidados,observação,preço
0,2018-01-19,Não fechado,2018-01-19,formatura,6789.0,30,Optou por uma pizzaria,219
1,2018-01-26,Não fechado,2018-01-26,formatura,6789.0,70,Queria acomodar todos para jantar no mesmo andar,219
2,2018-02-08,Não fechado,2018-02-08,formatura,6789.0,80,queria esta data mas já estamos com ela certa ...,219
3,2018-06-09,Não fechado,2018-06-09,empresarial,6789.0,31,não fechou por orçamento,219
4,2018-06-12,Realizado,2018-06-12,1º evento,21450.4,78,1 mesa de 8 lugares+ 5 mesas de 4 lugares + 2...,275

### Transformar dicionários em DF

In [116]:
df22 = pd.DataFrame()

for i in dicio22:
    # print(i)
    # nome_df = 'df_' + i[:3]
    temp = dicio22.get(i)
    df22 = pd.concat([df22, temp], join='outer', ignore_index=True)

In [117]:
df23 = pd.DataFrame()

for i in dicio23:
    # print(i)
    # nome_df = 'df_' + i[:3]
    temp = dicio23.get(i)
    df23 = pd.concat([df23, temp], join='outer', ignore_index=True)

In [118]:
df22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Data contato         143 non-null    object
 1   Etapa                117 non-null    object
 2   Situação             111 non-null    object
 3   Data Evento          117 non-null    object
 4   Tipo                 115 non-null    object
 5   Convidados           116 non-null    float64
 6   Cardápio             78 non-null     object
 7   Preço                73 non-null     object
 8   Sinal                3 non-null      float64
 9   Valor total          144 non-null    float64
 10  Saldo restante       142 non-null    object
 11  Valor Extra          36 non-null     float64
 12  Forma de pagamento   66 non-null     object
 13  Observação           116 non-null    object
 14  Kids                 1 non-null      float64
 15  Preço Kids           1 non-null      float64
 16  Total Convidados     74 non-null     float64
 17  Convidados Efetivos  3 non-null      float64
dtypes: float64(8), object(10)
memory usage: 27.3+ KB

In [119]:
df23.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Data contato         106 non-null    object
 1   Etapa                68 non-null     object
 2   Situação             66 non-null     object
 3   Data Evento          66 non-null     object
 4   Tipo                 68 non-null     object
 5   Empresa              67 non-null     object
 6   Contato              67 non-null     object
 7   Telefone             64 non-null     object
 8   Email                4 non-null      object
 9   Convidados           67 non-null     float64
 10  Cardápio             30 non-null     object
 11  Preço                28 non-null     float64
 12  Kids                 1 non-null      float64
 13  Preço Kids           1 non-null      float64
 14  Total Convidados     222 non-null    float64
 15  Sinal                0 non-null      float64
 16  Valor total          216 non-null    float64
 17  Saldo restante       216 non-null    float64
 18  Valor Extra          9 non-null      float64
 19  Convidados Efetivos  0 non-null      float64
 20  Forma de pagamento   24 non-null     object
 21  Observação           69 non-null     object
dtypes: float64(10), object(12)
memory usage: 47.6+ KB

## Concat DataFrames

In [120]:
df = pd.concat([df22, df23], ignore_index=True)

In [121]:
# renomeando colunas
colunas_lower_replace(df)

In [122]:
df.columns

Index(['data_contato', 'etapa', 'situação', 'data_evento', 'tipo',
       'num_convidados', 'cardápio', 'preço', 'sinal', 'valor_total',
       'saldo_restante', 'valor_extra', 'forma_pag', 'observação', 'kids',
       'preço_kids', 'total_convidados', 'qtde_conv_final', 'empresa',
       'contato', 'telefone', 'email'],
      dtype='object')

### Tratando tipo

In [123]:
# Data
df['data_contato'] = pd.to_datetime(df['data_contato'], errors='coerce')
df['data_evento'] = pd.to_datetime(df['data_evento'], errors='coerce')

In [124]:
# drop colunas que serão calculadas automaticamente
df.drop(columns=['total_convidados', 'saldo_restante', 'valor_total'],
        inplace=True)

In [125]:
# drop rows all null
df.dropna(how='all', inplace=True)

In [126]:
df.isna().sum()

data_contato         8
etapa                4
situação            12
data_evento         10
tipo                 6
num_convidados       6
cardápio            81
preço               88
sinal              186
valor_extra        144
forma_pag           99
observação           4
kids               187
preço_kids         187
qtde_conv_final    186
empresa            122
contato            122
telefone           125
email              185
dtype: int64

In [127]:
df[df['etapa'].isna()]

,data_contato,etapa,situação,data_evento,tipo,num_convidados,cardápio,preço,sinal,valor_extra,forma_pag,observação,kids,preço_kids,qtde_conv_final,empresa,contato,telefone,email
21,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jantar, necessita de audio , telão, microfone...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaT,NaN,NaN,NaT,NaN,NaN,A definir,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,NaT,NaN,NaN,NaT,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
373,NaT,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [128]:
df.dropna(subset=['etapa'], inplace=True)

### Tratando valores nulos

In [129]:
df['data_contato'] = df.data_contato.fillna(df.data_evento)

dia = dt.today() + pd.DateOffset(days=20)
df['data_evento'] = df.data_evento.fillna(dia)

In [130]:
df.loc[:, ['data_contato', 'data_evento']].dropna(inplace=True)

In [131]:
df['preço'] = df['preço'].replace('  ', np.nan)

In [132]:
df[['situação', 'tipo', 'cardápio', 'observação', 'forma_pag']] = df[[
    'situação', 'tipo', 'cardápio', 'observação', 'forma_pag']].fillna('Não informado')

In [133]:
df['num_convidados'].fillna(int(0), inplace=True)
df['qtde_conv_final'].fillna(int(0), inplace=True)

In [134]:
df['preço'].fillna(df.preço.median(), inplace=True)

In [135]:
df[['sinal', 'preço_kids', 'valor_extra']] = df[
    ['sinal', 'preço_kids', 'valor_extra']].fillna(float(0))

df['kids'] = df['kids'].fillna(int(0))

In [136]:
df.shape

(185, 19)

In [137]:
df.reset_index(drop=True, inplace=True)

In [138]:
df.sort_values(by='data_evento').tail()

,data_contato,etapa,situação,data_evento,tipo,num_convidados,cardápio,preço,sinal,valor_extra,forma_pag,observação,kids,preço_kids,qtde_conv_final,empresa,contato,telefone,email
179,2023-03-13,Em negociação,Encaminhado orçamento,2023-08-12,Evento social,60.0,Não informado,255.0,0.0,0.0,Não informado,Jantar Social,0.0,0.0,0.0,Eliane carvalho,Eliane carvalho,51-996456696,NaN
175,2023-01-09,Em negociação,Encaminhado orçamento,2023-08-15,Jantar com palestra e welcome drink,100.0,Não informado,255.0,0.0,0.0,Não informado,Sugeri a cliente que vou buscar uma alternativ...,0.0,0.0,0.0,Bruna Martinez,Bruna Martinez,NaN,producao05.bistro@gmail.com
183,2023-03-02,Em negociação,Não informado,2023-09-23,Casamento,50.0,Não informado,255.0,0.0,0.0,Não informado,Casamento!,0.0,0.0,0.0,Solange Azambuja,Solange Azambuja,5199155-3410,NaN
139,2023-03-24,Em negociação,Orçamento encaminhado,2023-12-14,Jantar,120.0,Não informado,255.0,0.0,0.0,Não informado,Jantar,0.0,0.0,0.0,Carla Barella,Carla Barella,NaN,carla.barella@cleepar.com.br
140,2023-03-10,Em negociação,Orçamento encaminhado,2024-01-19,Formatura,30.0,Não informado,255.0,0.0,0.0,Não informado,Formatura do filho,0.0,0.0,0.0,Fernanda Lessa,Fernanda lessa,51-99115-6505,NaN

### Dados de antes de abril de 2022

In [139]:
df_ant_abr22.tail()

,data_evento,etapa,data_contato,tipo,valor_total,num_convidados,observação,preço
183,2020-05-30,Não informado,2020-01-27,empresarial,6697.0,33,propostas enviadas,203
184,2020-06-04,Fechado,2020-06-04,empresarial,7500.0,30,"menu Koh Pee Pee 250,00",250
185,2020-06-12,Fechado,2020-06-12,jantar dia dos namorados,6697.0,33,Não informado,203
186,2020-08-22,Fechado,2020-08-22,formatura,8400.0,30,DEGUSTAÇÃO FEITA DIA 06/01/20 . Menu escolhido...,280
187,2021-01-08,Em negociação,2020-02-28,formatura,6697.0,50,enviado orçamento,134

## Unindo os Dataframes

In [140]:
# Concatenando os dataframes
df_thai = pd.concat([df, df_ant_abr22], axis=0, join='outer', ignore_index=True)

In [141]:
df_thai.shape

(373, 20)

In [142]:
df_thai.isna().sum()

data_contato         0
etapa                0
situação           188
data_evento          0
tipo                 0
num_convidados       0
cardápio           188
preço                0
sinal              188
valor_extra        188
forma_pag          188
observação           0
kids               188
preço_kids         188
qtde_conv_final    188
empresa            306
contato            306
telefone           309
email              369
valor_total        185
dtype: int64

### Tratando valores nulos

In [143]:
# Nulos preenchimento direto
df_thai[['situação', 'cardápio', 'forma_pag']] = df_thai[
    ['situação', 'cardápio', 'forma_pag']].fillna('Não informado')

df_thai[['sinal', 'valor_extra', 'preço_kids']] = df_thai[['sinal', 'valor_extra', 'preço_kids']].fillna(float(0))

df_thai[['kids', 'qtde_conv_final']] = df_thai[['kids', 'qtde_conv_final']].fillna(int(0))

### Valores calculados de forma automática

In [144]:
df_thai['total_convidados'] = df_thai['num_convidados'] + df_thai['kids']

In [145]:
df_thai['valor_total'] = (df_thai['num_convidados'] * df_thai['preço']) + (df_thai['kids'] * df_thai['preço_kids']) + df_thai['valor_extra']

In [146]:
df_thai['saldo_restante'] = df_thai['valor_total'] - df_thai['sinal']

In [147]:
df_thai.shape

(373, 22)

## Organiza Dataframe

In [148]:
# limpando espaços, deixando todos os caracteres em caixa baixa e capitulando frases.
df_thai = df_thai.apply(lambda x: x.astype(str).str.strip().str.casefold().str.capitalize())

In [149]:
df_thai.etapa.unique()

array(['Realizado', 'Não fechado', 'Em negociação', 'Fechado',
       'Não informado'], dtype=object)

In [150]:
df_thai.cardápio.unique()

array(['Não informado', 'Menu phuket', 'Menu krab',
       'Wellcome coffee\nmenu krab', 'A definir', 'Menu koh pee pee',
       'Menu namorados', 'Phuket', 'Krab', 'Koh pee pee', 'Ko wai',
       'Menu koh lanta', 'Menu ko wai + menu kids', 'Menu especial',
       'Ko chang', 'Menu  phuket custo', 'Menu mobo', 'Menu imama', '',
       'Menu ton sai', 'Menu ko wai', 'Koh lanta'], dtype=object)

In [151]:
# regex para any white space
regex_blank = re.compile(r'\s+', flags=re.MULTILINE)
# df_cliente['contato'] = df_cliente.contato.str.replace(regex_cliente, '', regex=True)

df_thai = df_thai.apply(lambda x: x.str.replace(regex_blank, ' ', regex=True))
df_thai.cardápio.unique()

array(['Não informado', 'Menu phuket', 'Menu krab',
       'Wellcome coffee menu krab', 'A definir', 'Menu koh pee pee',
       'Menu namorados', 'Phuket', 'Krab', 'Koh pee pee', 'Ko wai',
       'Menu koh lanta', 'Menu ko wai + menu kids', 'Menu especial',
       'Ko chang', 'Menu phuket custo', 'Menu mobo', 'Menu imama', '',
       'Menu ton sai', 'Menu ko wai', 'Koh lanta'], dtype=object)

In [152]:
regex_menu = re.compile(r'[Menu]{4}(\s)', flags=re.MULTILINE)
df_thai['cardápio'] = df_thai.cardápio.str.title().str.replace(regex_menu, '', regex=True)
df_thai.cardápio.unique()

array(['Não Informado', 'Phuket', 'Krab', 'Wellcome Coffee Krab',
       'A Definir', 'Koh Pee Pee', 'Namorados', 'Ko Wai', 'Koh Lanta',
       'Ko Wai + Kids', 'Especial', 'Ko Chang', 'Phuket Custo', 'Mobo',
       'Imama', '', 'Ton Sai'], dtype=object)

In [153]:
df_thai['cardápio'] = 'Menu ' + df_thai.cardápio
df_thai.cardápio.unique()

array(['Menu Não Informado', 'Menu Phuket', 'Menu Krab',
       'Menu Wellcome Coffee Krab', 'Menu A Definir', 'Menu Koh Pee Pee',
       'Menu Namorados', 'Menu Ko Wai', 'Menu Koh Lanta',
       'Menu Ko Wai + Kids', 'Menu Especial', 'Menu Ko Chang',
       'Menu Phuket Custo', 'Menu Mobo', 'Menu Imama', 'Menu ',
       'Menu Ton Sai'], dtype=object)

In [154]:
df_thai.isnull().sum()

data_contato        0
etapa               0
situação            0
data_evento         0
tipo                0
num_convidados      0
cardápio            0
preço               0
sinal               0
valor_extra         0
forma_pag           0
observação          0
kids                0
preço_kids          0
qtde_conv_final     0
empresa             0
contato             0
telefone            0
email               0
valor_total         0
total_convidados    0
saldo_restante      0
dtype: int64

In [155]:
df_thai.etapa.unique()

array(['Realizado', 'Não fechado', 'Em negociação', 'Fechado',
       'Não informado'], dtype=object)

In [156]:
df_thai.dtypes

data_contato        object
etapa               object
situação            object
data_evento         object
tipo                object
num_convidados      object
cardápio            object
preço               object
sinal               object
valor_extra         object
forma_pag           object
observação          object
kids                object
preço_kids          object
qtde_conv_final     object
empresa             object
contato             object
telefone            object
email               object
valor_total         object
total_convidados    object
saldo_restante      object
dtype: object

In [157]:
df_thai['data_evento'] = pd.to_datetime(df_thai['data_evento'], errors='coerce')
df_thai['data_contato'] = pd.to_datetime(df_thai['data_contato'], errors='coerce')

In [158]:
df_thai.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 373 entries, 0 to 372
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   data_contato      373 non-null    datetime64[ns]
 1   etapa             373 non-null    object
 2   situação          373 non-null    object
 3   data_evento       373 non-null    datetime64[ns]
 4   tipo              373 non-null    object
 5   num_convidados    373 non-null    object
 6   cardápio          373 non-null    object
 7   preço             373 non-null    object
 8   sinal             373 non-null    object
 9   valor_extra       373 non-null    object
 10  forma_pag         373 non-null    object
 11  observação        373 non-null    object
 12  kids              373 non-null    object
 13  preço_kids        373 non-null    object
 14  qtde_conv_final   373 non-null    object
 15  empresa           373 non-null    object
 16  contato           373 non-null    object
 17  telefone          373 non-null    object
 18  email             373 non-null    object
 19  valor_total       373 non-null    object
 20  total_convidados  373 non-null    object
 21  saldo_restante    373 non-null    object
dtypes: datetime64[ns](2), object(20)
memory usage: 64.2+ KB

In [159]:
df_thai = df_thai.sort_values('data_evento', ignore_index=True)

In [160]:
df_thai.tail()

,data_contato,etapa,situação,data_evento,tipo,num_convidados,cardápio,preço,sinal,valor_extra,...,kids,preço_kids,qtde_conv_final,empresa,contato,telefone,email,valor_total,total_convidados,saldo_restante
368,2023-01-24,Não fechado,Fará uma viagem,2023-08-12,Formatura,50.0,Menu Não Informado,255.0,0.0,0.0,...,0.0,0.0,0.0,Milena moni,Nan,51-99153.8286,Nan,12750.0,50.0,12750.0
369,2023-01-09,Em negociação,Encaminhado orçamento,2023-08-15,Jantar com palestra e welcome drink,100.0,Menu Não Informado,255.0,0.0,0.0,...,0.0,0.0,0.0,Bruna martinez,Bruna martinez,Nan,Producao05.bistro@gmail.com,25500.0,100.0,25500.0
370,2023-03-02,Em negociação,Não informado,2023-09-23,Casamento,50.0,Menu Não Informado,255.0,0.0,0.0,...,0.0,0.0,0.0,Solange azambuja,Solange azambuja,5199155-3410,Nan,12750.0,50.0,12750.0
371,2023-03-24,Em negociação,Orçamento encaminhado,2023-12-14,Jantar,120.0,Menu Não Informado,255.0,0.0,0.0,...,0.0,0.0,0.0,Carla barella,Carla barella,Nan,Carla.barella@cleepar.com.br,30600.0,120.0,30600.0
372,2023-03-10,Em negociação,Orçamento encaminhado,2024-01-19,Formatura,30.0,Menu Não Informado,255.0,0.0,0.0,...,0.0,0.0,0.0,Fernanda lessa,Fernanda lessa,51-99115-6505,Nan,7650.0,30.0,7650.0

In [161]:
df_thai.isna().sum()

data_contato        0
etapa               0
situação            0
data_evento         0
tipo                0
num_convidados      0
cardápio            0
preço               0
sinal               0
valor_extra         0
forma_pag           0
observação          0
kids                0
preço_kids          0
qtde_conv_final     0
empresa             0
contato             0
telefone            0
email               0
valor_total         0
total_convidados    0
saldo_restante      0
dtype: int64

### Grava Dataframe

In [162]:
df_thai.to_excel('./dados/df_thai_final.xlsx', index=False)